<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000916532853-lgsti6t4n83e446840a0dkp3ngdess78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000916532853-lgsti6t4n83e446840a0dkp3ngdess78</string>
	<key>API_KEY</key>
	<string>AIzaSyAO8zJx46Eetd1TZhX_r6aOdyBpX4XI8Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>1000916532853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.themaripool.Challenge-B2W</string>
	<key>PROJECT_ID</key>
	<string>challengeb2w</string>
	<key>STORAGE_BUCKET</key>
	<string>challengeb2w.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000916532853:ios:d73fbc8452bc89e2d6423c</string>
</dict>
</plist>